.md-header__button.md-logo img {
  height: 3.5rem; /* Adjust as needed */
}

.md-header__button.md-logo {
  padding-top: 0.5rem; /* Adjust vertical alignment if necessary */
  padding-bottom: 0.5rem;
}
